# Environment example

# Database (Postgres)
DATABASE_URL=postgresql://postgres:postgres@db:5432/churchdb?schema=public

# JWT
JWT_SECRET=changeme_in_production
JWT_EXPIRES_IN=3600s

# App
PORT=3000

# Prisma
PRISMA_MIGRATIONS_DIRECTORY=./prisma/migrations
